[submodule "nvim-config"]
	path = nvim-config
	url = https://github.com/artofandresperez/nvim-config
[submodule "packages/window-managers/dwm/dwm-src"]
	path = packages/window-managers/dwm/dwm-src
	url = https://git.suckless.org/dwm
